@use 'sass:map';
@use '@angular/material' as mat;
@use 'src/styles.scss' as styles;

@mixin setBackgroundColor($theme) {
  $color-config: mat.get-color-config($theme);
  $background-palette: map.get($color-config, 'background');
  background-color: mat.get-color-from-palette($background-palette, background);
}

mat-icon {
  padding-right: 10px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;

  nav {
    @include setBackgroundColor(styles.$kicker-app-theme);
    position: sticky;
    top: 0;
    z-index: 20;
  }
}

// .footer {
//   flex-shrink: 0;
//   span {
//     font-size: 1rem;
//   }
//   .toolbar-spacer {
//     flex: 1 1 auto;
//   }
// }

.content {
  flex: 1 0 auto;
}
