<mat-card>
  <mat-card-title>{{ 'stats.leaderboard' | translate }}</mat-card-title>
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="{{ 'stats.players' | translate }}">
      <app-leaderboard
        [dataSubject$]="playerData$"
        [displayedColumnsText]="displayedColumnsTextPlayer"
        [displayedColumns]="displayedColumns"
        [activeColumn]="activeColumn"
        [sortDirection]="sortDirection"
        [disableClear]="disableClear"></app-leaderboard>
    </mat-tab>
    <mat-tab label="{{ 'stats.teams' | translate }}">
      <app-leaderboard
        [dataSubject$]="teamsData$"
        [displayedColumnsText]="displayedColumnsTextTeam"
        [displayedColumns]="displayedColumns"
        [activeColumn]="activeColumn"
        [sortDirection]="sortDirection"
        [disableClear]="disableClear"></app-leaderboard>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<mat-card>
  <mat-card-title>{{ 'stats.playerAndTeamStats' | translate }}</mat-card-title>
  <!-- <h3 *ngIf="!matchesDataAvailable">{{ 'info.noData' | translate }}</h3> -->
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="{{ 'stats.players' | translate }}">
      <mat-spinner *ngIf="!allChartsReadyP"></mat-spinner>
      <div>
        <div *ngIf="allChartsReadyP">
          <mat-form-field appearance="fill">
            <mat-label>{{ 'common.player' | translate }}</mat-label>
            <mat-select
              [(value)]="selectedPlayer"
              (selectionChange)="updateYearsList(false)">
              <mat-option
                [value]="player.id"
                *ngFor="let player of playersWithMatches"
                >{{ player.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'stats.year' | translate }}</mat-label>
            <mat-select
              [(value)]="selectedYearPlayer"
              (selectionChange)="updateMatchesData(false)">
              <mat-option [value]="year" *ngFor="let year of playerYearsList">{{
                year
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div [style.display]="allChartsReadyP ? 'block' : 'none'">
          <div class="flex-container">
            <div class="bar-line-chart">
              <app-bar-line-chart
                (barLineChartIsReadyEvent)="checkIfChartsReady(0, $event)"
                [dataMap]="playersMap"
                [selectedData]="selectedPlayer"
                [selectedYear]="selectedYearPlayer"
                [months]="months"
                [legendLabels]="legendLabels"></app-bar-line-chart>
            </div>
            <div class="matches-chart">
              <app-matches-chart
                (matchesChartIsReadyEvent)="checkIfChartsReady(2, $event)"
                [chartData]="matchesChartDataPlayer"
                [legendLabels]="legendLabels"
                [months]="months"></app-matches-chart>
            </div>
            <div class="doughnut-chart">
              <app-result-doughnut-chart
                (doughnutChartIsReadyEvent)="checkIfChartsReady(1, $event)"
                [chartData]="doughnutDataPlayer"
                [legendLabels]="legendLabels"></app-result-doughnut-chart>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="{{ 'stats.teams' | translate }}">
      <mat-spinner *ngIf="!allChartsReadyT"></mat-spinner>
      <div *ngIf="allChartsReadyT">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'common.team' | translate }}</mat-label>
          <mat-select
            [(value)]="selectedTeam"
            (selectionChange)="updateYearsList(true)">
            <mat-option
              [value]="team.id"
              *ngFor="let team of teamsWithMatches"
              >{{ team.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'stats.year' | translate }}</mat-label>
          <mat-select
            [(value)]="selectedYearTeam"
            (selectionChange)="updateMatchesData(true)">
            <mat-option [value]="year" *ngFor="let year of teamYearsList">{{
              year
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div [style.display]="allChartsReadyT ? 'block' : 'none'">
        <div class="flex-container">
          <div class="bar-line-chart">
            <app-bar-line-chart
              (barLineChartIsReadyEvent)="checkIfChartsReady(3, $event)"
              [dataMap]="teamsMap"
              [selectedData]="selectedTeam"
              [selectedYear]="selectedYearTeam"
              [months]="months"
              [legendLabels]="legendLabels"></app-bar-line-chart>
          </div>
          <div class="matches-chart">
            <app-matches-chart
              (matchesChartIsReadyEvent)="checkIfChartsReady(5, $event)"
              [chartData]="matchesChartDataTeam"
              [legendLabels]="legendLabels"
              [months]="months"></app-matches-chart>
          </div>
          <div class="doughnut-chart">
            <app-result-doughnut-chart
              (doughnutChartIsReadyEvent)="checkIfChartsReady(4, $event)"
              [chartData]="doughnutDataTeam"
              [legendLabels]="legendLabels"></app-result-doughnut-chart>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<mat-card>
  <mat-card-title>{{ 'stats.playtime' | translate }}</mat-card-title>
  <app-playtime-chart
    [months]="months"
    [legendLabels]="legendLabels"
    [localeId]="localeId"></app-playtime-chart>
</mat-card>
<!-- <div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile
      *ngFor="let card of cards | async"
      [colspan]="card.cols"
      [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ card.title }}
            <button
              mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->
