.grid-container {
  margin: 10px 20px 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;

  .matches-chart {
    margin-top: 20px;
  }
}

.mat-mdc-card {
  margin: 20px;
}

.selections {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 10px;
  flex-wrap: wrap;

  .mat-mdc-form-field {
    margin-right: 20px;
  }
}

.stats-container {
  min-width: 360px;
  max-width: 1240px;
  margin: auto;

  .radio-container {
    display: flex;
    justify-content: center;
    margin-bottom: -10px;

    .mat-mdc-radio-group {
      margin-top: 10px;

      .mat-mdc-radio-button ~ .mat-mdc-radio-button {
        margin-left: 25px;
      }
    }
  }

  .content-container {
    margin-top: 15px;
  }

  .single-content {
    margin-top: 20px;
  }
}
