<mat-card class="mat-elevation-z10">
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>{{ 'auth.register' | translate }}</h2>
      <mat-error *ngIf="loginInvalid">
        {{ 'auth.error.recognised' | translate }}
      </mat-error>
      <mat-form-field class="full-width-input">
        <input
          matInput
          [placeholder]="'auth.firstname' | translate"
          formControlName="firstname"
          required
        />
        <mat-error>
          {{ 'auth.error.firstname' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          [placeholder]="'auth.lastname' | translate"
          formControlName="lastname"
          required
        />
        <mat-error>
          {{ 'auth.error.lastname' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          [placeholder]="'auth.email' | translate"
          formControlName="username"
          required
        />
        <mat-error *ngIf="form.get('username').hasError('email')">
          {{ 'auth.error.email' | translate }}
        </mat-error>
        <mat-error *ngIf="form.get('username').hasError('pattern')">
          {{ 'auth.error.specialEmail' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          type="password"
          [placeholder]="'auth.password' | translate"
          formControlName="password"
          required
        />
        <mat-error>
          {{ 'auth.error.password' | translate }}
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">
        {{ 'auth.register' | translate }}
      </button>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <button mat-button color="primary" routerLink="/login">
      {{ 'auth.backToLogin' | translate }}
    </button>
  </mat-card-footer>
</mat-card>
