.select-player-team-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;

  .selection-width {
    width: 48%;
  }
}

@media (max-width: 1200px) {
  .select-player-team-container {
    flex-direction: column;

    .selection-width {
      width: 100%;

      &:first-child {
        margin-bottom: 10px;
      }
    }
  }
}
