.select-container {
  display: grid;
  flex-direction: row;
  grid-template-columns: auto auto;
  grid-gap: 20px;

  .select-player-team-container {
    display: flex;
    .mat-form-field {
      margin: auto;
    }
  }

  .select-team-container {
    display: flex;
    .mat-form-field {
      margin: 0 10px 0 10px;
      width: 100%;
    }

    .mat-card-actions {
      margin: 0 10px 0 10px;
      button {
        font-size: 30px;
        font-weight: lighter;
      }
    }
  }
}
