<div class="select-container" [formGroup]="matchForm">
  <ng-container *ngIf="!showingTeams" formGroupName="players">
    <ng-container *ngFor="let team of teams">
      <div
        class="select-player-team-container"
        [formGroupName]="team === 0 ? 'team1' : 'team2'">
        <mat-form-field>
          <mat-label>{{ 'common.player' | translate }}</mat-label>
          <mat-select
            id="{{ 2 * team }}"
            formControlName="one"
            [compareWith]="this.matchesService.compareValues"
            (selectionChange)="updatePlayers(2 * team)">
            <mat-option
              *ngFor="let player of getPlayersList(2 * team)"
              [value]="{ id: player.id, name: player.name }">
              {{ player.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'common.player' | translate }}</mat-label>
          <mat-select
            id="{{ 2 * team + 1 }}"
            formControlName="two"
            [compareWith]="this.matchesService.compareValues"
            (selectionChange)="updatePlayers(2 * team + 1)">
            <mat-option
              *ngFor="let player of getPlayersList(2 * team + 1)"
              [value]="{ id: player.id, name: player.name }">
              {{ player.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="showingTeams" formGroupName="players">
    <ng-container *ngFor="let team of teams">
      <div
        class="select-team-container"
        [formGroupName]="team === 0 ? 'team1' : 'team2'">
        <mat-form-field>
          <mat-label>{{ 'common.team' | translate }}</mat-label>
          <mat-select
            id="{{ team }}"
            formControlName="three"
            [compareWith]="this.matchesService.compareValues"
            (selectionChange)="updatePlayers(team)">
            <mat-option
              *ngFor="let player of getPlayersList(team)"
              [value]="{
                id: player.id,
                name: player.name,
                players: player.players
              }">
              {{ player.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="checkForError(team)">{{
            'info.chooseTeams' | translate
          }}</mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button
            *ngIf="showingTeams"
            class="button-style"
            type="button"
            mat-mini-fab
            color="primary"
            (click)="openDialog(team)">
            +
          </button>
        </mat-card-actions>
      </div>
    </ng-container>
  </ng-container>
</div>
