.selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .mat-mdc-chip-listbox {
    margin-top: 10px;
    pointer-events: none;

    .mat-mdc-chip {
      height: auto;
    }
  }
}

@media (max-width: 395px) {
  .select-button {
    font-size: 11px;
  }
}
