.playtime-flex-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;

  .mat-mdc-radio-group,
  .mat-mdc-radio-button {
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

@media (max-width: 650px) {
  .playtime-flex-box {
    flex-flow: column-reverse;
    align-items: flex-start;

    .mat-mdc-radio-group {
      margin-left: -20px;

      .mat-mdc-radio-button .mdc-radio {
        padding-left: 0;
      }
    }
  }
}

.chart-container {
  height: 500px;
}

@media (max-width: 700px) {
  .chart-container {
    height: 300px;
  }
}
