.mat-mdc-dialog-content {
  padding-bottom: 0;
}

button {
  margin-bottom: 15px;
}

@media (max-width: 440px) {
  .mat-mdc-dialog-actions {
    flex-direction: column;
    button:nth-child(2) {
      margin-left: 0;
    }
  }
}
