<form class="selection-form">
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>{{ labelText | translate }}</mat-label>
    <input
      type="text"
      placeholder="{{ placeholderText | translate }}"
      matInput
      [formControl]="selectionFormControl"
      [matAutocomplete]="auto" />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayWithFunction"
      (optionSelected)="emitWhenOptionSelected($event)">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option">
        {{ displayWithFunction(option) }}
      </mat-option>
    </mat-autocomplete>
    <button
      *ngIf="selectionFormControl.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clearValue()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error *ngIf="hasError">{{ errorText | translate }}</mat-error>
  </mat-form-field>
</form>
