@import '~@angular/material/theming';

.information-card {
  min-width: 200px;
  margin: 20px;
  @include mat-elevation-transition;
  @include mat-elevation(10);

  .icon {
    font-size: 28px;
  }
}
