.login-container {
  display: flex;
  justify-content: center;

  mat-card {
    max-width: 400px;
    margin: 10em 1em;
    text-align: center;
    min-width: 250px;
    width: 100%;

    mat-card-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 10px;
    }
  }
}

mat-form-field {
  display: block;
  margin-bottom: 1rem;
}
