table {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.mat-spinner {
  margin-top: 20px;
  margin-left: 20px;
}

.mat-row {
  //height: auto;
}

.mat-header-cell,
.mat-cell {
  //padding-left: 10px;
  padding: 8px 8px 8px 0;
}

.table-container {
  overflow: auto;
}
