.select-container {
  display: grid;
  flex-direction: row;
  grid-template-columns: 200px 200px;
  grid-gap: 20px;
}

#warning {
  background-color: red;
  display: flex;
  justify-content: center;
}

.mat-mdc-dialog-actions {
  display: flex;
  justify-content: center;
}

.hint-text {
  display: flex;
  justify-content: center;
  color: red;
}
