<div class="navigation-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="navigation-toolbar">
    <mat-icon>sports_soccer</mat-icon>
    <h1 class="app-name">{{ 'app.name' | translate }}</h1>
    <span class="toolbar-spacer"></span>
    <span>
      <mat-chip-list>
        <mat-chip
          [ngClass]="{
            'chip-container': true,
            success: kickerStatus,
            error: !kickerStatus
          }"
          selected>
          {{
            (kickerStatus
              ? 'common.kickerStatus.available.title'
              : 'common.kickerStatus.notAvailable.title'
            ) | translate
          }}
          {{ kickerStatus ? '' : (kickerBusyTime | date: 'd.M.yy H:mm') }}
        </mat-chip>
      </mat-chip-list>
    </span>
    <button mat-icon-button (click)="goToBuglist()">
      <mat-icon class="icon" aria-hidden="false" aria-label="bugreport icon"
        >bug_report</mat-icon
      >
    </button>
    <button mat-icon-button (click)="goToGithub()">
      <mat-icon
        svgIcon="github"
        class="icon"
        aria-hidden="false"
        aria-label="github icon">
      </mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menuLanguage">
      <mat-icon class="icon" aria-hidden="false" aria-label="language icon"
        >language</mat-icon
      >
    </button>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menuPerson"
      *ngIf="isLoggedIn$ | async">
      <mat-icon class="icon" aria-hidden="false" aria-label="personal icon"
        >person</mat-icon
      >
    </button>
  </mat-toolbar>

  <mat-drawer-container class="sidenav-container">
    <mat-drawer-content>
      <ng-content></ng-content>
    </mat-drawer-content>
  </mat-drawer-container>
  <mat-toolbar>
    <span class="toolbar-spacer"></span>
    <span>{{ versionNumber }}</span></mat-toolbar
  >
</div>

<mat-menu #menuLanguage="matMenu">
  <button mat-menu-item (click)="changeLanguage('de')">
    <span>{{ 'app.language.de' | translate }}</span>
  </button>
  <button mat-menu-item (click)="changeLanguage('en')">
    <span>{{ 'app.language.en' | translate }}</span>
  </button>
</mat-menu>

<mat-menu #menuPerson="matMenu">
  <button mat-menu-item disabled>
    <mat-icon>settings_applications</mat-icon>
    <span>{{ 'app.settings' | translate }}</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>{{ 'app.logout' | translate }}</span>
  </button>
</mat-menu>
