.grid-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .mat-radio-group {
    margin-bottom: 20px;

    .mat-radio-button ~ .mat-radio-button {
      margin-left: 25px;
    }
  }

  .match-container {
    width: 100%;
    max-width: 1200px;
    min-width: 275px;
    margin-bottom: 20px;
  }
}
