.grid-container {
  margin: auto;
  max-width: 1200px;
  min-width: 360px;

  .radio-container {
    display: flex;
    justify-content: center;
    margin-bottom: -10px;

    .mat-mdc-radio-group {
      margin-top: 10px;

      .mat-mdc-radio-button ~ .mat-mdc-radio-button {
        margin-left: 25px;
      }
    }
  }
}
