/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kicker-app-primary: mat.define-palette(mat.$lime-palette, 400);
$kicker-app-accent: mat.define-palette(mat.$lime-palette, A100);

// The warn palette is optional (defaults to red).
$kicker-app-warn: mat.define-palette(mat.$red-palette);

$kicker-app-typography: mat.define-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
);

// Create the theme object (a Sass map containing all of the palettes).
$kicker-app-theme: mat.define-dark-theme(
  (
    color: (
      primary: $kicker-app-primary,
      accent: $kicker-app-accent,
      warn: $kicker-app-warn,
    ),
    typography: $kicker-app-typography,
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($kicker-app-theme);

.alert-snackbar {
  background: #ef3f33;
  color: white;
}

.mat-mdc-snack-bar-container {
  margin-bottom: 100px !important;
}

.year-picker,
.year-month-picker {
  .mat-calendar-period-button {
    pointer-events: none;
  }

  .mat-calendar-arrow {
    display: none;
  }
}

.result-radio-button {
  .mdc-form-field > label {
    padding-left: 0;
  }

  .mdc-form-field .mdc-radio {
    padding: 0;
  }
}

.leaderboard-sort .mat-sort-header-arrow {
  margin-left: 2px;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.select-container {
  .mat-mdc-chip-action-label {
    white-space: normal;
    text-align: center;
  }

  .mdc-evolution-chip-set__chips {
    justify-content: center;
  }
}

.mdc-list-item__primary-text {
  display: flex;
}

@media (max-width: 390px) {
  .mat-mdc-paginator-range-label {
    margin: 0 16px 0 8px !important;
  }
}

@media (max-width: 650px) {
  .playtime-flex-box .mdc-radio {
    padding-left: 5px !important;
  }
}
