<mat-card>
  <mat-card-title>{{ 'common.lastMatches' | translate }}</mat-card-title>
  <app-spinner *ngIf="!matchesAvailable"></app-spinner>
  <mat-card-content *ngIf="matchesAvailable && lastAddedMatches.length === 0">
    <p>No matches available!</p>
  </mat-card-content>
  <mat-card-content *ngIf="matchesAvailable && lastAddedMatches.length > 0">
    <div class="matches-container">
      <div *ngFor="let match of lastAddedMatches">
        <span class="date">{{ match.date | localizedDate }}</span>
        <div class="match-row">
          <span class="left-team">{{ match.team1 }}</span>
          <span class="result">{{ match.result }}</span>
          <span class="right-team">{{ match.team2 }}</span>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
